/**
 * Typography.
 *
 * This file contains the basic typography styles for copy text in the
 * application.
 *
 * @package Styles - Base
 *
 * @author    Nick Menke <nick@nlmenke.net>
 * @copyright 2018-2019 Nick Menke
 *
 * @link  https://github.com/nlmenke/vertebrae
 * @since x.x.x introduced
 */

$font-size-base: 0.9rem;
$line-height-base: 1.15;

body {
    color: $text-color;
    font: normal 100% / 1.4 $font-family-sans-serif;
}
