/**
 * Default Laravel Styles.
 *
 * This file contains all of the styles included in the default dashboard view
 * shipped with a fresh Laravel installation.
 *
 * @package Styles - Pages
 *
 * @author    Nick Menke <nick@nlmenke.net>
 * @copyright 2018-2019 Nick Menke
 *
 * @link  https://github.com/nlmenke/vertebrae
 * @since x.x.x introduced
 */

// Laravel overwrites
$body-bg: #f8fafc;
$text-color: #636b6f;
$link-color: #f4645f;

.laravel {
    html,
    body {
        background-color: $white;
        color: $text-color;
        font-family: $font-family-sans-serif;
        font-weight: 400;
        height: 100vh;
        margin: 0;
    }

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        color: $link-color;
        font-family: $font-family-serif;
        font-size: 84px;
    }

    .subtitle {
        font-family: $font-family-cursive;
        font-size: 20px;
        font-style: italic;
    }

    .links > a {
        color: $text-color;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: .3s ease-in-out;

        &:hover {
            color: $link-color;
        }
    }

    .contributors {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        font-family: $font-family-monospace;
        font-size: 0.7em;
        padding: 5px;
        position: absolute;
        right: 0;

        & > .list-group > .list-group-item {
            background-color: $transparent;
            text-decoration: none;
            transition: .3s ease-in-out;
            padding: 0.5rem 1rem;

            &.list-group-item-action {
                color: $text-color;
            }

            &:hover {
                background-color: $white;

                &.list-group-item-action {
                    color: $link-color;
                }
            }
        }
    }

    .m-b-md {
        margin-bottom: 30px;
    }
}
