/.fleet
/.idea
/.nova
/.vscode
/.zed

/.coverage
/.phpunit.cache
/auth.json
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/tests/Browser/Screenshots
/vendor

.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
npm-debug.log
yarn-error.log
