{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 120,
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn",
        "cva"
    ],
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
