/**
 * Application Colors.
 *
 * This file contains all of the color variables used by the application. Most
 * of these color variations will likely not be used.
 *
 * @package Styles - Abstracts
 *
 * @author    Nick Menke <nick@nlmenke.net>
 * @copyright 2018-2020 Nick Menke
 *
 * @link  https://github.com/nlmenke/vertebrae
 * @since x.x.x introduced
 */

/* Basic
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-basic
$black: #000;

/// @type  {color}
/// @group colors-basic
$white: #fff;

/// @type  {color}
/// @group colors-basic
$transparent: rgba(0, 0, 0, 0);

/// @type  {color}
/// @group colors-laravel
$body-bg: #f8fafc;

/// @type  {color}
/// @group colors-laravel
$text-color: #636b6f;

/// @type  {color}
/// @group colors-laravel
$link-color: #f4645f;

/* Brand
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-brand
$brand-primary: #3097d1;

/// @type  {color}
/// @group colors-brand
$brand-info: #8eb4cb;

/// @type  {color}
/// @group colors-brand
$brand-success: #2ab27b;

/// @type  {color}
/// @group colors-brand
$brand-warning: #cbb956;

/// @type  {color}
/// @group colors-brand
$brand-danger: #bf5329;

/* Red
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-red
$red-50: #ffebee;

/// @type  {color}
/// @group colors-red
$red-100: #ffcdd2;

/// @type  {color}
/// @group colors-red
$red-200: #ef9a9a;

/// @type  {color}
/// @group colors-red
$red-300: #e57373;

/// @type  {color}
/// @group colors-red
$red-400: #ef5350;

/// @type  {color}
/// @group colors-red
$red-500: #f44336;

/// @type  {color}
/// @group colors-red
$red-600: #e53935;

/// @type  {color}
/// @group colors-red
$red-700: #d32f2f;

/// @type  {color}
/// @group colors-red
$red-800: #c62828;

/// @type  {color}
/// @group colors-red
$red-900: #b71c1c;

/// @type  {color}
/// @group colors-red
$red-a100: #ff8a80;

/// @type  {color}
/// @group colors-red
$red-a200: #ff5252;

/// @type  {color}
/// @group colors-red
$red-a400: #ff1744;

/// @type  {color}
/// @group colors-red
$red-a700: #d50000;

/* Pink
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-pink
$pink-50: #fce4ec;

/// @type  {color}
/// @group colors-pink
$pink-100: #f8bbd0;

/// @type  {color}
/// @group colors-pink
$pink-200: #f48fb1;

/// @type  {color}
/// @group colors-pink
$pink-300: #f06292;

/// @type  {color}
/// @group colors-pink
$pink-400: #ec407a;

/// @type  {color}
/// @group colors-pink
$pink-500: #e91e63;

/// @type  {color}
/// @group colors-pink
$pink-600: #d81b60;

/// @type  {color}
/// @group colors-pink
$pink-700: #c2185b;

/// @type  {color}
/// @group colors-pink
$pink-800: #ad1457;

/// @type  {color}
/// @group colors-pink
$pink-900: #880e4f;

/// @type  {color}
/// @group colors-pink
$pink-a100: #ff80ab;

/// @type  {color}
/// @group colors-pink
$pink-a200: #ff4081;

/// @type  {color}
/// @group colors-pink
$pink-a400: #f50057;

/// @type  {color}
/// @group colors-pink
$pink-a700: #c51162;

/* Purple
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-purple
$purple-50: #f3e5f5;

/// @type  {color}
/// @group colors-purple
$purple-100: #e1bee7;

/// @type  {color}
/// @group colors-purple
$purple-200: #ce93d8;

/// @type  {color}
/// @group colors-purple
$purple-300: #ba68c8;

/// @type  {color}
/// @group colors-purple
$purple-400: #ab47bc;

/// @type  {color}
/// @group colors-purple
$purple-500: #9c27b0;

/// @type  {color}
/// @group colors-purple
$purple-600: #8e24aa;

/// @type  {color}
/// @group colors-purple
$purple-700: #7b1fa2;

/// @type  {color}
/// @group colors-purple
$purple-800: #6a1b9a;

/// @type  {color}
/// @group colors-purple
$purple-900: #4a148c;

/// @type  {color}
/// @group colors-purple
$purple-a100: #ea80fc;

/// @type  {color}
/// @group colors-purple
$purple-a200: #e040fb;

/// @type  {color}
/// @group colors-purple
$purple-a400: #d500f9;

/// @type  {color}
/// @group colors-purple
$purple-a700: #a0f;

/* Deep Purple
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-deep-purple
$deep-purple-50: #ede7f6;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-100: #d1c4e9;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-200: #b39ddb;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-300: #9575cd;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-400: #7e57c2;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-500: #673ab7;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-600: #5e35b1;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-700: #512da8;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-800: #4527a0;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-900: #311b92;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-a100: #b388ff;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-a200: #7c4dff;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-a400: #651fff;

/// @type  {color}
/// @group colors-deep-purple
$deep-purple-a700: #6200ea;

/* Indigo
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-indigo
$indigo-50: #e8eaf6;

/// @type  {color}
/// @group colors-indigo
$indigo-100: #c5cae9;

/// @type  {color}
/// @group colors-indigo
$indigo-200: #9fa8da;

/// @type  {color}
/// @group colors-indigo
$indigo-300: #7986cb;

/// @type  {color}
/// @group colors-indigo
$indigo-400: #5c6bc0;

/// @type  {color}
/// @group colors-indigo
$indigo-500: #3f51b5;

/// @type  {color}
/// @group colors-indigo
$indigo-600: #3949ab;

/// @type  {color}
/// @group colors-indigo
$indigo-700: #303f9f;

/// @type  {color}
/// @group colors-indigo
$indigo-800: #283593;

/// @type  {color}
/// @group colors-indigo
$indigo-900: #1a237e;

/// @type  {color}
/// @group colors-indigo
$indigo-a100: #8c9eff;

/// @type  {color}
/// @group colors-indigo
$indigo-a200: #536dfe;

/// @type  {color}
/// @group colors-indigo
$indigo-a400: #3d5afe;

/// @type  {color}
/// @group colors-indigo
$indigo-a700: #304ffe;

/* Blue
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-blue
$blue-50: #e3f2fd;

/// @type  {color}
/// @group colors-blue
$blue-100: #bbdefb;

/// @type  {color}
/// @group colors-blue
$blue-200: #90caf9;

/// @type  {color}
/// @group colors-blue
$blue-300: #64b5f6;

/// @type  {color}
/// @group colors-blue
$blue-400: #42a5f5;

/// @type  {color}
/// @group colors-blue
$blue-500: #2196f3;

/// @type  {color}
/// @group colors-blue
$blue-600: #1e88e5;

/// @type  {color}
/// @group colors-blue
$blue-700: #1976d2;

/// @type  {color}
/// @group colors-blue
$blue-800: #1565c0;

/// @type  {color}
/// @group colors-blue
$blue-900: #0d47a1;

/// @type  {color}
/// @group colors-blue
$blue-a100: #82b1ff;

/// @type  {color}
/// @group colors-blue
$blue-a200: #448aff;

/// @type  {color}
/// @group colors-blue
$blue-a400: #2979ff;

/// @type  {color}
/// @group colors-blue
$blue-a700: #2962ff;

/* Light Blue
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-light-blue
$light-blue-50: #e1f5fe;

/// @type  {color}
/// @group colors-light-blue
$light-blue-100: #b3e5fc;

/// @type  {color}
/// @group colors-light-blue
$light-blue-200: #81d4fa;

/// @type  {color}
/// @group colors-light-blue
$light-blue-300: #4fc3f7;

/// @type  {color}
/// @group colors-light-blue
$light-blue-400: #29b6f6;

/// @type  {color}
/// @group colors-light-blue
$light-blue-500: #03a9f4;

/// @type  {color}
/// @group colors-light-blue
$light-blue-600: #039be5;

/// @type  {color}
/// @group colors-light-blue
$light-blue-700: #0288d1;

/// @type  {color}
/// @group colors-light-blue
$light-blue-800: #0277bd;

/// @type  {color}
/// @group colors-light-blue
$light-blue-900: #01579b;

/// @type  {color}
/// @group colors-light-blue
$light-blue-a100: #80d8ff;

/// @type  {color}
/// @group colors-light-blue
$light-blue-a200: #40c4ff;

/// @type  {color}
/// @group colors-light-blue
$light-blue-a400: #00b0ff;

/// @type  {color}
/// @group colors-light-blue
$light-blue-a700: #0091ea;

/* Cyan
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-cyan
$cyan-50: #e0f7fa;

/// @type  {color}
/// @group colors-cyan
$cyan-100: #b2ebf2;

/// @type  {color}
/// @group colors-cyan
$cyan-200: #80deea;

/// @type  {color}
/// @group colors-cyan
$cyan-300: #4dd0e1;

/// @type  {color}
/// @group colors-cyan
$cyan-400: #26c6da;

/// @type  {color}
/// @group colors-cyan
$cyan-500: #00bcd4;

/// @type  {color}
/// @group colors-cyan
$cyan-600: #00acc1;

/// @type  {color}
/// @group colors-cyan
$cyan-700: #0097a7;

/// @type  {color}
/// @group colors-cyan
$cyan-800: #00838f;

/// @type  {color}
/// @group colors-cyan
$cyan-900: #006064;

/// @type  {color}
/// @group colors-cyan
$cyan-a100: #84ffff;

/// @type  {color}
/// @group colors-cyan
$cyan-a200: #18ffff;

/// @type  {color}
/// @group colors-cyan
$cyan-a400: #00e5ff;

/// @type  {color}
/// @group colors-cyan
$cyan-a700: #00b8d4;

/* Teal
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-teal
$teal-50: #e0f2f1;

/// @type  {color}
/// @group colors-teal
$teal-100: #b2dfdb;

/// @type  {color}
/// @group colors-teal
$teal-200: #80cbc4;

/// @type  {color}
/// @group colors-teal
$teal-300: #4db6ac;

/// @type  {color}
/// @group colors-teal
$teal-400: #26a69a;

/// @type  {color}
/// @group colors-teal
$teal-500: #009688;

/// @type  {color}
/// @group colors-teal
$teal-600: #00897b;

/// @type  {color}
/// @group colors-teal
$teal-700: #00796b;

/// @type  {color}
/// @group colors-teal
$teal-800: #00695c;

/// @type  {color}
/// @group colors-teal
$teal-900: #004d40;

/// @type  {color}
/// @group colors-teal
$teal-a100: #a7ffeb;

/// @type  {color}
/// @group colors-teal
$teal-a200: #64ffda;

/// @type  {color}
/// @group colors-teal
$teal-a400: #1de9b6;

/// @type  {color}
/// @group colors-teal
$teal-a700: #00bfa5;

/* Green
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-green
$green-50: #e8f5e9;

/// @type  {color}
/// @group colors-green
$green-100: #c8e6c9;

/// @type  {color}
/// @group colors-green
$green-200: #a5d6a7;

/// @type  {color}
/// @group colors-green
$green-300: #81c784;

/// @type  {color}
/// @group colors-green
$green-400: #66bb6a;

/// @type  {color}
/// @group colors-green
$green-500: #4caf50;

/// @type  {color}
/// @group colors-green
$green-600: #43a047;

/// @type  {color}
/// @group colors-green
$green-700: #388e3c;

/// @type  {color}
/// @group colors-green
$green-800: #2e7d32;

/// @type  {color}
/// @group colors-green
$green-900: #1b5e20;

/// @type  {color}
/// @group colors-green
$green-a100: #b9f6ca;

/// @type  {color}
/// @group colors-green
$green-a200: #69f0ae;

/// @type  {color}
/// @group colors-green
$green-a400: #00e676;

/// @type  {color}
/// @group colors-green
$green-a700: #00c853;

/* Light Green
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-light-green
$light-green-50: #f1f8e9;

/// @type  {color}
/// @group colors-light-green
$light-green-100: #dcedc8;

/// @type  {color}
/// @group colors-light-green
$light-green-200: #c5e1a5;

/// @type  {color}
/// @group colors-light-green
$light-green-300: #aed581;

/// @type  {color}
/// @group colors-light-green
$light-green-400: #9ccc65;

/// @type  {color}
/// @group colors-light-green
$light-green-500: #8bc34a;

/// @type  {color}
/// @group colors-light-green
$light-green-600: #7cb342;

/// @type  {color}
/// @group colors-light-green
$light-green-700: #689f38;

/// @type  {color}
/// @group colors-light-green
$light-green-800: #558b2f;

/// @type  {color}
/// @group colors-light-green
$light-green-900: #33691e;

/// @type  {color}
/// @group colors-light-green
$light-green-a100: #ccff90;

/// @type  {color}
/// @group colors-light-green
$light-green-a200: #b2ff59;

/// @type  {color}
/// @group colors-light-green
$light-green-a400: #76ff03;

/// @type  {color}
/// @group colors-light-green
$light-green-a700: #64dd17;

/* Lime
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-lime
$lime-50: #f9fbe7;

/// @type  {color}
/// @group colors-lime
$lime-100: #f0f4c3;

/// @type  {color}
/// @group colors-lime
$lime-200: #e6ee9c;

/// @type  {color}
/// @group colors-lime
$lime-300: #dce775;

/// @type  {color}
/// @group colors-lime
$lime-400: #d4e157;

/// @type  {color}
/// @group colors-lime
$lime-500: #cddc39;

/// @type  {color}
/// @group colors-lime
$lime-600: #c0ca33;

/// @type  {color}
/// @group colors-lime
$lime-700: #afb42b;

/// @type  {color}
/// @group colors-lime
$lime-800: #9e9d24;

/// @type  {color}
/// @group colors-lime
$lime-900: #827717;

/// @type  {color}
/// @group colors-lime
$lime-a100: #f4ff81;

/// @type  {color}
/// @group colors-lime
$lime-a200: #eeff41;

/// @type  {color}
/// @group colors-lime
$lime-a400: #c6ff00;

/// @type  {color}
/// @group colors-lime
$lime-a700: #aeea00;

/* Yellow
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-yellow
$yellow-50: #fffde7;

/// @type  {color}
/// @group colors-yellow
$yellow-100: #fff9c4;

/// @type  {color}
/// @group colors-yellow
$yellow-200: #fff59d;

/// @type  {color}
/// @group colors-yellow
$yellow-300: #fff176;

/// @type  {color}
/// @group colors-yellow
$yellow-400: #ffee58;

/// @type  {color}
/// @group colors-yellow
$yellow-500: #ffeb3b;

/// @type  {color}
/// @group colors-yellow
$yellow-600: #fdd835;

/// @type  {color}
/// @group colors-yellow
$yellow-700: #fbc02d;

/// @type  {color}
/// @group colors-yellow
$yellow-800: #f9a825;

/// @type  {color}
/// @group colors-yellow
$yellow-900: #f57f17;

/// @type  {color}
/// @group colors-yellow
$yellow-a100: #ffff8d;

/// @type  {color}
/// @group colors-yellow
$yellow-a200: #ff0;

/// @type  {color}
/// @group colors-yellow
$yellow-a400: #ffea00;

/// @type  {color}
/// @group colors-yellow
$yellow-a700: #ffd600;

/* Amber
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-amber
$amber-50: #fff8e1;

/// @type  {color}
/// @group colors-amber
$amber-100: #ffecb3;

/// @type  {color}
/// @group colors-amber
$amber-200: #ffe082;

/// @type  {color}
/// @group colors-amber
$amber-300: #ffd54f;

/// @type  {color}
/// @group colors-amber
$amber-400: #ffca28;

/// @type  {color}
/// @group colors-amber
$amber-500: #ffc107;

/// @type  {color}
/// @group colors-amber
$amber-600: #ffb300;

/// @type  {color}
/// @group colors-amber
$amber-700: #ffa000;

/// @type  {color}
/// @group colors-amber
$amber-800: #ff8f00;

/// @type  {color}
/// @group colors-amber
$amber-900: #ff6f00;

/// @type  {color}
/// @group colors-amber
$amber-a100: #ffe57f;

/// @type  {color}
/// @group colors-amber
$amber-a200: #ffd740;

/// @type  {color}
/// @group colors-amber
$amber-a400: #ffc400;

/// @type  {color}
/// @group colors-amber
$amber-a700: #ffab00;

/* Orange
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-orange
$orange-50: #fff3e0;

/// @type  {color}
/// @group colors-orange
$orange-100: #ffe0b2;

/// @type  {color}
/// @group colors-orange
$orange-200: #ffcc80;

/// @type  {color}
/// @group colors-orange
$orange-300: #ffb74d;

/// @type  {color}
/// @group colors-orange
$orange-400: #ffa726;

/// @type  {color}
/// @group colors-orange
$orange-500: #ff9800;

/// @type  {color}
/// @group colors-orange
$orange-600: #fb8c00;

/// @type  {color}
/// @group colors-orange
$orange-700: #f57c00;

/// @type  {color}
/// @group colors-orange
$orange-800: #ef6c00;

/// @type  {color}
/// @group colors-orange
$orange-900: #e65100;

/// @type  {color}
/// @group colors-orange
$orange-a100: #ffd180;

/// @type  {color}
/// @group colors-orange
$orange-a200: #ffab40;

/// @type  {color}
/// @group colors-orange
$orange-a400: #ff9100;

/// @type  {color}
/// @group colors-orange
$orange-a700: #ff6d00;

/* Deep Orange
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-deep-orange
$deep-orange-50: #fbe9e7;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-100: #ffccbc;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-200: #ffab91;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-300: #ff8a65;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-400: #ff7043;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-500: #ff5722;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-600: #f4511e;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-700: #e64a19;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-800: #d84315;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-900: #bf360c;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-a100: #ff9e80;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-a200: #ff6e40;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-a400: #ff3d00;

/// @type  {color}
/// @group colors-deep-orange
$deep-orange-a700: #dd2c00;

/* Brown
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-brown
$brown-50: #efebe9;

/// @type  {color}
/// @group colors-brown
$brown-100: #d7ccc8;

/// @type  {color}
/// @group colors-brown
$brown-200: #bcaaa4;

/// @type  {color}
/// @group colors-brown
$brown-300: #a1887f;

/// @type  {color}
/// @group colors-brown
$brown-400: #8d6e63;

/// @type  {color}
/// @group colors-brown
$brown-500: #795548;

/// @type  {color}
/// @group colors-brown
$brown-600: #6d4c41;

/// @type  {color}
/// @group colors-brown
$brown-700: #5d4037;

/// @type  {color}
/// @group colors-brown
$brown-800: #4e342e;

/// @type  {color}
/// @group colors-brown
$brown-900: #3e2723;

/* Grey
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-grey
$grey-50: #fafafa;

/// @type  {color}
/// @group colors-grey
$grey-100: #f5f5f5;

/// @type  {color}
/// @group colors-grey
$grey-200: #eee;

/// @type  {color}
/// @group colors-grey
$grey-300: #e0e0e0;

/// @type  {color}
/// @group colors-grey
$grey-400: #bdbdbd;

/// @type  {color}
/// @group colors-grey
$grey-500: #9e9e9e;

/// @type  {color}
/// @group colors-grey
$grey-600: #757575;

/// @type  {color}
/// @group colors-grey
$grey-700: #616161;

/// @type  {color}
/// @group colors-grey
$grey-800: #424242;

/// @type  {color}
/// @group colors-grey
$grey-900: #212121;

/* Blue Grey
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-blue-grey
$blue-grey-50: #eceff1;

/// @type  {color}
/// @group colors-blue-grey
$blue-grey-100: #cfd8dc;

/// @type  {color}
/// @group colors-blue-grey
$blue-grey-200: #b0bec5;

/// @type  {color}
/// @group colors-blue-grey
$blue-grey-300: #90a4ae;

/// @type  {color}
/// @group colors-blue-grey
$blue-grey-400: #78909c;

/// @type  {color}
/// @group colors-blue-grey
$blue-grey-500: #607d8b;

/// @type  {color}
/// @group colors-blue-grey
$blue-grey-600: #546e7a;

/// @type  {color}
/// @group colors-blue-grey
$blue-grey-700: #455a64;

/// @type  {color}
/// @group colors-blue-grey
$blue-grey-800: #37474f;

/// @type  {color}
/// @group colors-blue-grey
$blue-grey-900: #263238;

/* Social
-----------------------------------------------------------------------------*/
/// @type  {color}
/// @group colors-social
$social-bebo: #e04646;

/// @type  {color}
/// @group colors-social
$social-behance: #1769ff;

/// @type  {color}
/// @group colors-social
$social-blogger: #f57d00;

/// @type  {color}
/// @group colors-social
$social-delicious: #39f;

/// @type  {color}
/// @group colors-social
$social-deviantart: #4dc47d;

/// @type  {color}
/// @group colors-social
$social-discord: #7289da;

/// @type  {color}
/// @group colors-social
$social-dribbble: #ea4c89;

/// @type  {color}
/// @group colors-social
$social-facebook: #3b5998;

/// @type  {color}
/// @group colors-social
$social-flickr-blue: #0063dc;

/// @type  {color}
/// @group colors-social
$social-flickr-pink: #ff0084;

/// @type  {color}
/// @group colors-social
$social-forrst: #5b9a68;

/// @type  {color}
/// @group colors-social
$social-foursquare: #2d5be3;

/// @type  {color}
/// @group colors-social
$social-googleplus: #dd4b39;

/// @type  {color}
/// @group colors-social
$social-gravatar: #1e8cbe;

/// @type  {color}
/// @group colors-social
$social-hangounts: #0f9d58;

/// @type  {color}
/// @group colors-social
$social-icq: #7ebd00;

/// @type  {color}
/// @group colors-social
$social-instagram: #3f729b;

/// @type  {color}
/// @group colors-social
$social-kippt: #d51007;

/// @type  {color}
/// @group colors-social
$social-lastfm: #d51007;

/// @type  {color}
/// @group colors-social
$social-linkedin: #0077b5;

/// @type  {color}
/// @group colors-social
$social-myspace: #000;

/// @type  {color}
/// @group colors-social
$social-path: #ee3423;

/// @type  {color}
/// @group colors-social
$social-pinterest: #bd081c;

/// @type  {color}
/// @group colors-social
$social-playstation: #003087;

/// @type  {color}
/// @group colors-social
$social-pocket: #ef4056;

/// @type  {color}
/// @group colors-social
$social-quora: #a82400;

/// @type  {color}
/// @group colors-social
$social-rdio: #007dc3;

/// @type  {color}
/// @group colors-social
$social-reddit: #ff4500;

/// @type  {color}
/// @group colors-social
$social-rss: #f26522;

/// @type  {color}
/// @group colors-social
$social-skype: #00aff0;

/// @type  {color}
/// @group colors-social
$social-snapchat: #fffc00;

/// @type  {color}
/// @group colors-social
$social-soundcloud: #f80;

/// @type  {color}
/// @group colors-social
$social-spotify: #1db954;

/// @type  {color}
/// @group colors-social
$social-steam: #0b0b0b;

/// @type  {color}
/// @group colors-social
$social-stumbleupon: #eb4924;

/// @type  {color}
/// @group colors-social
$social-tumblr: #35465c;

/// @type  {color}
/// @group colors-social
$social-twitch: #6441a5;

/// @type  {color}
/// @group colors-social
$social-twitter: #1da1f2;

/// @type  {color}
/// @group colors-social
$social-vimeo: #1ab7ea;

/// @type  {color}
/// @group colors-social
$social-vine: #00b488;

/// @type  {color}
/// @group colors-social
$social-whatsapp: #25d366;

/// @type  {color}
/// @group colors-social
$social-wordpress: #21759b;

/// @type  {color}
/// @group colors-social
$social-xbox: #52b043;

/// @type  {color}
/// @group colors-social
$social-yahoo: #410093;

/// @type  {color}
/// @group colors-social
$social-youtube: #cd201f;
